= form_for @room do |f|
  - if @room.errors.any?
    #error_explanation
      %h2= "#{pluralize(@room.errors.count, "error")} prohibited this room from being saved:"
      %ul
        - @room.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :volume
    = f.text_field :volume
  .field
    = f.label :temperature_min
    = f.text_field :temperature_min
  .field
    = f.label :temperature_max
    = f.text_field :temperature_max
  .field
    = f.label :wet_min
    = f.text_field :wet_min
  .field
    = f.label :wet_max
    = f.text_field :wet_max
  .actions
    = f.submit 'Save'
