%p#notice= notice

%p
  %b Receipt date:
  = @agreement.receipt_date
%p
  %b Expiration date:
  = @agreement.expiration_date
%p
  %b Client:
  = @agreement.client
%p
  %b Stack:
  = @agreement.stack
%p
  %b Position:
  = @agreement.position

= link_to 'Edit', edit_agreement_path(@agreement)
\|
= link_to 'Back', agreements_path
