%h1 Listing products

%table
  %thead
    %tr
      %th Width
      %th Height
      %th Length
      %th Weight
      %th Agreement number
      %th Temperature min
      %th Temperature max
      %th Humidity min
      %th Humidity max
      %th Receipt date
      %th Expiration date
      %th Client.entity_name
      %th Stack.number
      %th Position
      %th
      %th
      %th

  %tbody
    - @products.each do |product|
      %tr
        %td= product.width
        %td= product.height
        %td= product.length
        %td= product.weight
        %td= product.agreement_number
        %td= product.temperature_min
        %td= product.temperature_max
        %td= product.humidity_min
        %td= product.humidity_max
        %td= product.receipt_date
        %td= product.expiration_date
        %td= product.client.entity_name
        %td= product.stack.number
        %td= product.position
        %td= link_to 'Show', product
        %td= link_to 'Edit', edit_product_path(product)
        %td= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Product', new_product_path
