%p#notice= notice

%p
  %b Width:
  = @product.width
%p
  %b Height:
  = @product.height
%p
  %b Length:
  = @product.length
%p
  %b Weight:
  = @product.weight
%p
  %b Agreement number:
  = @product.agreement_number
%p
  %b Temperature min:
  = @product.temperature_min
%p
  %b Temperature max:
  = @product.temperature_max
%p
  %b Humidity min:
  = @product.humidity_min
%p
  %b Humidity max:
  = @product.humidity_max
%p
  %b Receipt date:
  = @product.receipt_date
%p
  %b Expiration date:
  = @product.expiration_date
%p
  %b Client:
  = @product.client
%p
  %b Stack:
  = @product.stack
%p
  %b Position:
  = @product.position

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
